<section class="catalog__content">
    <h1 class="catalog__title">Квартиры</h1>
    <div class="catalog__table table">
        <div class="table__top-row">
            <div class="table__th">Планировка</div>
            <div class="table__th">Квартира</div>
            <div class="table__th" id="table-area">
                S, м<sup>2</sup>
                <ul class="table__nav">
                    <li>
                        <button class="table__btn-top" type="button">
                            <span class="visually-hidden">по возрастанию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-top"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button class="table__btn-bottom" type="button">
                            <span class="visually-hidden">по убыванию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-bottom"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="table__th" id="table-floor">
                Этаж
                <ul class="table__nav">
                    <li>
                        <button class="table__btn-top" type="button">
                            <span class="visually-hidden">по возрастанию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-top"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button class="table__btn-bottom" type="button">
                            <span class="visually-hidden">по убыванию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-bottom"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="table__th" id="table-date">
                Сдача
                <ul class="table__nav">
                    <li>
                        <button class="table__btn-top" type="button">
                            <span class="visually-hidden">по возрастанию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-top"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button class="table__btn-bottom" type="button">
                            <span class="visually-hidden">по убыванию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-bottom"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="table__th" id="table-cost">
                Цена, ₽
                <ul class="table__nav">
                    <li>
                        <button class="table__btn-top" type="button">
                            <span class="visually-hidden">по возрастанию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-top"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button class="table__btn-bottom" type="button">
                            <span class="visually-hidden">по убыванию</span>
                            <svg>
                                <use xlink:href="assets/img/icons/sprite.svg#arrow-bottom"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table__content" id="table">
            <div class="table__row">
                <div class="table__wrapper">
                    <div class="table__th">3-комнатная №104</div>
                    <div class="table__th">63,1 м²</div>
                    <div class="table__th">1 <span>из 17 этажей</span></div>
                    <div class="table__th">6 630 500 ₽</div>
                </div>
                <div class="table__th">
                    <img src="assets/img/plan.svg" alt="3-комнатная №104">
                </div>
            </div>
        </div>
    </div>
    <button class="catalog__btn-more" type="button">Загрузить еще</button>
</section>