<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">
    <meta name="msapplication-TileColor" content="">
    <meta name="theme-color" content="">
    <link rel="shortcut icon" href="assets/img/favicon/fav.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/img/favicon/fav.png" type="image/png">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Главная</title>
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <script src="js/main.min.js"></script>
</body>
</html>