<!DOCTYPE html>
<html lang="ru">
{% include 'template/head.twig' %}
<body>
    <main class="catalog container">

        {% include 'template/filters.twig' %}
        {% include 'template/content.twig' %}

        <button class="catalog__scroll-top" type="button" style="display: none">
            <span class="visually-hidden">Вверх</span>
            <svg>
                <use xlink:href="assets/img/icons/sprite.svg#scroll-top"></use>
            </svg>
        </button>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    <script src="assets/libs/jq-ui-touch-punch.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script src="js/main.min.js"></script>
</body>
</html>