@include font-face("pt-root", "../assets/fonts/PTRootUIRegular/PTRootUIRegular");
@include font-face("pt-root", "../assets/fonts/PTRootUIMedium/PTRootUIMedium", 500);
@include font-face("pt-root", "../assets/fonts/PTRootUIBold/PTRootUIBold", bold);

*::selection {
    background: $color-green;
    color: white;
}

*::-moz-selection {
    background: $color-green;
    color: white;
}

body,
html {
    overflow-x: hidden;
}

body {
    position: relative;
    
    min-width: 320px;
    margin: 0px;
    padding: 0px;

    font-family: $default-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    color: $color-text;

    background-color: $color-bg;
}

.container {
    width: auto;
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}