// Viewports

$viewport--sm:  320px;
$viewport--md:  768px;
$viewport--lg:  1024px;
$viewport--xl:  1280px;
$viewport--xxl: 1920px;


// Colors

$color-bg:      #010302;
$color-text:    #ffffff;
$color-accent:  #eac05d;
$color-gradient: linear-gradient(180deg, #FF4D34 0%, #EB371D 100%);


// Fonts

$d-font: 'gilroy', Arial, sans-serif;
$f-font: 'augustus', serif;