// Viewports

$viewport--sm:  320px;
$viewport--md:  960px;
$viewport--lg:  1024px;
$viewport--xl:  1440px;
$viewport--xxl: 1920px;


// Colors

$color-bg:      #ffffff;
$color-text:    #0B1739;
$color-green:   #3EB57C;


// Fonts

$default-font: 'pt-root', Arial, sans-serif;